*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
	display: block;
	color: white;
	height: 100%;
	width: 100%;
}
.content {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	min-height: 50%;
	height: 60%;
	color: black;
	font-weight: 500;
}
.content {
	display: block;
	.left {
		width: 32%;
		height: 100%;
		background-color: rgb(163, 163, 163);
		float: left;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.left h1 {
		font-size: 1rem;
		color: white;
	}
	.right {
		width: 63%;
		float: right;
	}
	.right h1 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	.right p {
		line-height: 1.25;
		font-size: 1.125rem;
		margin-bottom: 1rem;
	}
	.right button {
		color: black;
		border: 1px solid black;
		background-color: white;
		padding: 1rem 2.5rem;
		font-size: 1rem;
		transition: all 0.3s ease-in-out;
        cursor: pointer;
	}
	.right button a {
		color: rgb(0, 0, 0);
	}
	.right button:hover {
		background-color: black;
        color: white;
	}
	.right button:hover a {
		color: white;
		font-weight: 700;
	}
}

/* change screen */
@media (max-width: 768px) {
	html {
	  font-size: 12px;
	}
	.content{
		width: 90%;
		height: 30%;
	}
}
@media (min-width: 768px) {
	html {
	  font-size: 14px;
	}
	.content{
		width: 80%;
		height: 40%;
	}
}
@media (min-width: 1024px) {
	html {
		font-size: 14px;
	}
	.content{
		width: 50%;
		height: 50%;
	}
}
@media (min-width: 1280px) {
	html {
		font-size: 14px;
	  }
}
